body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('back2.gif'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la URL o la ruta de tu imagen */
    background-size: cover;
    background-position: center;
  }
  
  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6); /* Añade un fondo semi-transparente para mejorar la legibilidad del texto */
    padding: 20px;
    border-radius: 10px;
  }
  
  .title {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .message {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

button:hover {
    opacity: 0.9; /* Reducir la opacidad ligeramente al pasar el ratón para indicar interactividad */
}

/* Estilo específico para el botón "Sí, quiero 💕" */
button.yesButton {
    background-color: #FF69B4;
}

/* Estilo específico para el botón "No💔" */
button.noButton {
    background-color: #FF6347;
}

/* Estilo específico para el botón "▶Play Music" */
button.playButton {
    background-color: #1E90FF;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

  
  #respuesta {
    margin-top: 20px;
  }

